<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="assets/main.css" rel= "stylesheet" type="text/css">

<script type="text/javascript" src="main.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>MAPD712 Test</title>
</head>

<body>

<div class="jumbotron">
  <h1>Welcome to WeCare</h1>
  <p>We are here to ease the lives of personnels in hospitals!</p>  
</div>
<div class="container">
</div>

<div style="overflow:auto">

    <div class="navigation">
    <a href="home">Home</a>
    <a href="newpatient">Add Patient</a>
    <a href="patients">List Patient</a>
    <a href="about">About</a>
    <a href="contact">Contact Us</a> 
  </div>

  <div class="middle">
  
  <h2>About Us</h2>
  <p>   We Care has been found in 2018, by a group of enthusiasts who want to assist to professionals that work in health industry. With WeCare,
    doctors, nurses and other hospital personnels are going to be able to view the patients, their records, add new paients and delete old
    patients, if needed. Therefore, with WeCare, the patients' condition can be analyzed faster, they can receive faster diagnoses and treats for their
    health issues. </p> 
 
  <tr><td><div id = "title"></div></td>
    <td><div id = "body"></div></td></tr>
</div>

   
</div>

<div class="copyright">MAPD712, Group2, TORONTO Ontario</div>

</body>
</html>
