<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="assets/main.css" rel= "stylesheet" type="text/css">

<script type="text/javascript" src="main.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>MAPD712 Test</title>
</head>

<body>

<p> We have varous facilities to provide care to our patients.</p>


<p>Personal Care :
    Our staff are certified Personal Support Worker’s or equivalent.  
    They are trained to assist with bathing, dressing, skin care, toileting and general grooming. 
    We know something as simple as feeling clean and fresh can make such a difference to the day.
</p>

<p>Companionship/Activation :
        Often you can’t be there to visit a loved one as often as you’d like to ensure they get out to activities. 
        Our caregivers can be there when you can’t so that you know your loved one is busy and active. 
        We take pride knowing that our clients look forward to their caregiver’s next visit.
</p>

<p>Meal Assistance :
        Our caregivers are qualified to assist with feeding. 
        Mealtime can often be a challenge and our caregivers have the patience and understanding necessary to take as much time as a client needs to enjoy a meal.
</p>

<p>Shopping :
        Our caregivers can accompany your family member shopping or pick up a few items as part of their visit. 
        It’s those little extras that are important to you.
</p>

<p>Overnight Care/Relief :
        Our caregivers stay with your loved one overnight and they remain awake and attentive to their needs. 
        Whether it’s for safety, personal care and/or comfort, having someone there can let you rest easier.
</p>

<p>Laundry/Cleaning :
        We know it’s the little things that are important to you, we work with you so that whether it’s laundry or cleaning we make sure it’s done the way you prefer.
</p>









</body>
</html>