<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="assets/main.css" rel= "stylesheet" type="text/css">

<script type="text/javascript" src="main.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>MAPD712 Test</title>
</head>

<body>

<div class="jumbotron">
  <h1>Welcome to WeCare</h1>
  <p>We are here to ease the lives of personnels in hospitals!</p>  
</div>
<div class="container">
</div>

<div style="overflow:auto">

    <div class="navigation">
    <a href="contact">Add Patient</a>
    <a href="index">List Patient</a>
    <a href="about">About Us</a>
    <a href="contact">Contact</a>  	  
  </div>

  <div class="middle">
  
  <h2>Lorem Ipsum</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis elit non ex blandit vestibulum in vel nisi. Pellentesque vehicula consectetur leo in consequat.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis elit non ex blandit vestibulum in vel nisi. Pellentesque vehicula consectetur leo in consequat.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis elit non ex blandit vestibulum in vel nisi. Pellentesque vehicula consectetur leo in consequat.</p>  
 
  <tr><td><div id = "title"></div></td>
    <td><div id = "body"></div></td></tr>
</div>

    <div class="side">
	  <h4>About</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis elit non ex blandit vestibulum in vel nisi. Pellentesque vehicula consectetur leo in consequat.</p>
	  
  </div>
</div>

<div class="copyright">Copyright© Oguz Bayral. TORONTO, ON</div>

</body>
</html>
