<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="assets/main.css" rel= "stylesheet" type="text/css">

<script type="text/javascript" src="main.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>MAPD712 Test</title>
</head>

<body>

<div class="jumbotron">
  <h1>Welcome to WeCare</h1>
  <p>We are here to ease the lives of personnels in hospitals!</p>  
</div>
<div class="container">
</div>

<div style="overflow:auto">

    <div class="navigation">
        <a href="newpatient">Add Patient</a>
        <a href="patients">List Patient</a>
        <a href="deletepatients">Delete Patients</a>
        <a href="singlepatient">Single Patient</a>
        <a href="newpatientrecord">Add Patient Record</a>
        <a href="records">List Patient Records</a>
        <a href="about">About</a>
        <a href="contact">Contact Us</a>
        <a href="logout">Log Out</a> 
      </div>

  <div class="middle">
  
      <h2 class="w3-center" align="middle">Our Services</h2>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="assets/heart.jpg" style="width:100%">
  <img class="mySlides" src="assets/patientcare.jpg" style="width:100%">
  <img class="mySlides" src="assets/salata.jpg" style="width:100%">
  <img class="mySlides" src="assets/workout2.jpg" style="width:100%">

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
  
      
</div>

    <div class="side">
	  <h4>News About WeCare</h4>
    <p>We care has opened in Toronto. Check our new address in Scarborough, M3A 1W8. 
      Toronto, Ontario
    </p>
	  
  </div>
</div>

<div class="copyright">Copyright© Oguz Bayral. TORONTO, ON</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
    </script>



</body>
</html>
