<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="assets/main.css" rel= "stylesheet" type="text/css">

<script type="text/javascript" src="main.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>MAPD712 Test</title>
</head>

<body>

<p>Head Doctor<br>
        <img src="/assets/doctor.jpg" alt="Head Doctor" width="200em" height="250em" style="padding: 0 15px; float: left;">
Name: Simon Laqual  <br>
Qualifications: MD (Geriatrician) <br>
Experience: 27 years <br>

</p>

<p>Assistant Head Doctor<br>
        <img src="/assets/adoctor.jpg" alt="Head Doctor" width="200em" height="250em" style="padding: 0 15px; float: left;">
        Name: Szarlota Nowak <br>
        Qualifications: MD (Geriatrician) <br>
        Experience: 4 years <br>

</p>

<p>Head Nurse<br>
        <img src="/assets/nurse.jpg" alt="Head Doctor" width="200em" height="250em" style="padding: 0 15px; float: left;">
        Name: Vasylyna Kushnir<br>
        Qualifications: Geriatric Nurse <br>
        Experience: 39 years <br>

</p>

<p>Assistant Head Nurse<br>
        <img src="/assets/anurse.jpg" alt="Head Doctor" width="200em" height="250em" style="padding: 0 15px; float: left;">
        Name:  Sofiya Rajatkowski<br>
        Qualifications: Geriatric Nurse <br>
        Experience: 12 years <br>

</p>




    


</body>
</html>