<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="assets/main.css" rel= "stylesheet" type="text/css">

<script type="text/javascript" src="main.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>MAPD712 Test</title>
</head>

<body>

    <p>Please find the rates of the following additional services listed below:</p>

    <table style="width:100%">
            <tr>
              <th>Service</th>
              <th>Cost</th> 
              <th>Night Availability</th>
            </tr>
            <tr>
              <td>Bathing</td>
              <td>$50</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Housekeeping</td>
              <td>$90</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Travel</td>
              <td>$40</td>
              <td>Yes</td>
            </tr>
            <tr>
                    <td>Dressing</td>
                    <td>$20</td>
                    <td>Yes</td>
            </tr>
            <tr>
                    <td>Shooping</td>
                    <td>$40</td>
                    <td>No</td>
            </tr>
            <tr>
                    <td>Leisure Activity</td>
                    <td>$50</td>
                    <td>No</td>
            </tr>
                  
          </table>








    


</body>
</html>